<% include __header.ejs%>
<% include admin_menu.ejs%>

<div style="margin:10px;">



    <div style="padding: 10px;"  class="container">

        <h4>Academy Statistics: </h4>

        <div class="row">

            <div class="col-xs-6 col-md-3">
                <h5>Users' amount</h5>
            </div>

            <div class="col-xs-6 col-md-3">
                <h5><%-users%></h5>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-6 col-md-3">
                <h5>Species' amount:</h5>
            </div>

            <div class="col-xs-6 col-md-3">
                <h5><%-specie%></h5>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-6 col-md-3">
                <h5>Pokemons' amount:</h5>
            </div>

            <div class="col-xs-6 col-md-3">
                <h5><%-pokemons%></h5>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-6 col-md-3">
                <h5>Pokemons on training amount: </h5>
            </div>

            <div class="col-xs-6 col-md-3">
                <h5><%-on_traingind%></h5>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-6 col-md-3">
                <h5>Trainings' amount: </h5>
            </div>

            <div class="col-xs-6 col-md-3">
                <h5><%-trainings%></h5>
            </div>

        </div>

    </div>
</div>

<% include __footer.ejs%>