<% include __header.ejs%>
<% include admin_menu.ejs%>


<div style="margin:10px;">
    <div style="padding: 10px;">
        <a href="/admin/new_training"><button type="button" class="btn btn-primary">Add new training</button></a>

    </div>



    <div style="padding: 10px;"  class="container">
        <% if (trainings.length) { %>
            <% trainings.forEach(function(training) { %>
                <div class="row">

                    <div class="col-xs-6 col-md-2">
                        <h4><%= training.name %></h4>
                    </div>

                    <div class="col-xs-6 col-md-1">
                        <h5>health +<%= training.health %></h5>
                    </div>

                    <div class="col-xs-6 col-md-1">
                        <h5>agility +<%= training.agility %></h5>
                    </div>

                    <div class="col-xs-6 col-md-1">
                        <h5>attack +<%= training.attack %></h5>
                    </div>

                    <div class="col-xs-6 col-md-2">
                        <h5>defence +<%= training.defence %></h5>
                    </div>

                    <div class="col-xs-6 col-md-2">
                        <h5>duration: <%= training.duration %> min </h5>
                    </div>

                    <div class="col-xs-6 col-md-2">
                        <a href="/admin/edit_training/<%=training._id%>"><button type="button" class="btn btn-success">Edit</button></a>
                        <a href="/admin/edit_training/<%=training._id%>?method=DELETE"><button type="button" class="btn btn-danger">Delete</button></a>
                    </div>

                </div>
            <% }) %>

        <% } else { %>   No trainings!
        <% } %>
    </div>
</div>

<% include __footer.ejs%>