<% include __header.ejs%>
<% include user_menu.ejs%>


<div style="margin:10px;">
    <div style="padding: 10px;">
        <h4> Choose training! </h4>

    </div>



    <div style="padding: 10px;"  class="container">
        <% if (trainings.length) { %>
        <% trainings.forEach(function(training) { %>
        <div class="row">

            <div class="col-xs-12 col-md-2">
                <h4><%= training.name %></h4>
            </div>

            <div class="col-xs-12 col-md-1">
                <h5>health +<%= training.health %></h5>
            </div>

            <div class="col-xs-12 col-md-1">
                <h5>agility +<%= training.agility %></h5>
            </div>

            <div class="col-xs-12 col-md-1">
                <h5>attack +<%= training.attack %></h5>
            </div>

            <div class="col-xs-12 col-md-2">
                <h5>defence +<%= training.defence %></h5>
            </div>

            <div class="col-xs-6 col-md-2">
                <h5>duration: <%= training.duration %> min </h5>
            </div>

            <div class="col-xs-12 col-md-2">
                <label><input type="radio" name="optradio">Choose this one!</label>
            </div>

        </div>
        <% }) %>

        <div class="row" style="margin-bottom: 10px">
            <div class="col-xs-12 col-md-9">
            </div>

            <div class="col-xs-12 col-md-2">
                <select class="form-control" style="float:right" name="pokemon">
                    <% pokemons.forEach(function(pokemon) { %>
                        <option id="<%= pokemon._id %>"><%= pokemon.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-9">
            </div>

            <div class="col-xs-12 col-md-2">
                <a href="#"><button type="button" class="btn btn-primary">Send on training!</button></a>
            </div>
        </div>

        <% } else { %>   No trainings!
        <% } %>
    </div>
</div>

<% include __footer.ejs%>